a {
    cursor: pointer;
}

.wysiwygBtn {
    background-image: url('http://meta.stackexchange.com/content/stackexchangemeta/img/wmd-buttons.svg'), none;
    background-size: initial !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#changeLink {
    background-color: whitesmoke;
    position: absolute;
    display: none;
}

#wysiwyg {
    border: 1px solid black;
    padding: 10px;
}

#wysiwyg:focus {
    outline: none;
}

#submit {
    padding: 10px;
    background-color: limegreen;
    border: none;
    border-radius: 10px;
    width: 80px;
}
